@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;600&family=Poppins:ital,wght@0,400;0,500;1,200;1,300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}
.bg {
  background-image: url(./assets/server.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(./assets/server.jpg);
  background-position: center;
  background-size: cover;
}
.about-bg {
  background-image: url(./assets/about2.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(./assets/about2.jpg);
  background-position: center;
  background-size: cover;
}
.no-scrollbar {
  resize: none; /* Disable resizing */
  overflow: hidden; /* Hide overflow */
}
.card-gradient {
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 0.1316176128654587) 59%,
    rgba(50, 155, 230, 0.1092086492800245) 79%
  );
}
.bg-gradient {
  background: linear-gradient(
    90deg,
    rgba(69, 49, 56, 0.2660713943780637) 0%,
    rgba(50, 147, 230, 0.33049716468618695) 48%
  );
}
.ql-container {
  font-size: 16px !important;
}
.ant-btn-primary {
  background-color: #427cce; 
  color: #fff; 
}

.ant-image-crop-upload-btn:hover {
  background-color: #45a049; /* Change this to your desired background color on hover */
  border-color: #45a049; /* Change this to your desired border color on hover */
}
